{% extends 'base.html.twig' %}


{% block body %}



    <ul>
        <li><a href="{{ path('app_user_insert') }}">Crear usuario</a></li>
        <li><a href="{{ path('mostrar') }}">Ver Usuarios</a></li>
    </ul>




    <div style="margin-top: 10px">

    </div>


{% endblock %}