{% extends 'base.html.twig' %}


{% block body %}



    <ul>
        <li><a href="{{ path('app_producto_insert') }}">Crear Producto</a></li>
        <li><a href="{{ path('mospod') }}">Ver Productos</a></li>
    </ul>




    <div style="margin-top: 10px">

    </div>


{% endblock %}